<nav class="navbar navbar-light bg-light mb-5">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a href="{{ path('home') }}" class="navbar-brand mb-0 h1">SocialPosts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('post') }}">Posts</a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item" style="padding-right: 10px">
                    <span class="navbar-text">Logged as <b>{{ app.user.email}}</b></span>
                </li>
                <li class="nav-item dropdown">
                    <img class="img-thumbnail rounded-circle dropdown-toggle pointer" data-toggle="dropdown" width="40" height="40" src="{{ asset("assets/image/#{app.user.avatarImage}")}}"/>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('app_account') }}">Account</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('logout') }}">Logout</a>
                </li>
            {% else%}
                <li class="nav-item">
                    <a href="{{ path('login') }}" class="nav-link">Sign In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>