<nav class="navbar navbar-light bg-light mb-5">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a href="{{ path('home') }}" class="navbar-brand mb-0 h1">SocialPosts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('post') }}">Posts</a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            {% if data is not empty or data is not defined %}
                <li class="nav-item" style="padding-right: 10px">
                    <span class="navbar-text">Logged as <b>{{ data.fullname }}</b></span>
                </li>
                <li class="nav-item">
                    <img class="img-thumbnail rounded-circle" width="40" height="40" src="{{ data.avatar_img }}"/>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('logout') }}">Logout</a>
                </li>
            {% else%}
                <li class="nav-item">
                    <a href="{{ path('login') }}" class="nav-link">Sign In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>