{% extends 'base.html.twig' %}
{% block body %}
<div class="card">
    <div class="card-header">
        <span>Users posts</span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#newPost">New post</button>
            </div>
            {% include 'post/newPost.html.twig' %}
        </div>
        <ul class="list-group posts">
            {% for post in posts %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column avatar align-items-center">
                    <img src="{{ asset("uploads/avatars/#{post.author.avatarImage}") }}" width="50" alt="Users Image">
                    <small class="font-italic mt-2">{{ post.author.firstName }}</small>
                </div>
                <div class="ml-3">
                    {{ post.content }}
                </div>
                <div class="ml-3">
                    <span class="badge badge-primary">{{ post.createdAt | date('H:m:s') }}</span>
                </div>
                <div class="ml-3">
                    {% if post.author == app.user %}
                    <a href="{{ path('delete', {id : post.id}) }}" role="button" class="btn btn-danger btn-sm">Delete</a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="row">
            <div class="navigation mx-auto mt-3">
                {{ knp_pagination_render(posts) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
